body,html {
    font-family: 'Roboto', sans-serif;
      background-color: #fcfcfc;
}

html, body {
    height: 100%;
    background-color: #fafafa;
}

.card {
  float: left;
  margin: 10px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#navbar {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  /* background-color: #ffffff; */
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(196, 196, 196,0.3) 0%,rgba(255,255,255,1) 50%);
  z-index: 1000;
}

#navbar ul {
  width: 100%;

}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: calc(100% - 60px);
}

#sidebar {
    min-width: 350px;
    max-width: 350px;
    min-height: 100%;

    /* don't forget to add all the previously mentioned styles here too */
    background: #f5f5f5;
    color: midnightblue;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -350px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}


a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    margin: 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
