

body{
    background-color: #f5f5f5;
}
*:focus{
    outline: none;
}


.box{
    box-sizing: border-box;
    margin: auto;
    width: 450px;
    height: 800px;
    /*border: 2px solid black; 
    box-shadow: -3px -3px 7px white;*/
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: white;
    margin-top: 100px;
    overflow: hidden;
}
.box h1{
    margin: auto;
    width: 50%;
}
.box input{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
}

.box h3{
    margin-top: 30px;
font-size: larger;
margin-left: 45px;
}
.box h4{
    font-size: smaller;
margin-left: 45px;
margin-right: 20px;
}

.box label{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 150px;
}
img{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: border-box;
    width: 149px;
    height: 149px;
    border-radius: 50%;
    border: 5px solid black;
    padding: 3px;
    background-color: white ;
}
input[type="text"],
input[type="email"]{
    
    display: block ;
    box-sizing: border-box;
    color: black;
    margin-bottom: 10px;
    padding: 4px;
    width: 350px;
    height: 20px;
    border: none;
    border-bottom: 1px solid black;
    font-family: 'Roboto',sans-serif;
    font-weight: 15px;
}
input [type="text"]{
    margin-top: 25px ;
}
input[type="text"]:focus,
input[type="email"]:focus{
    border-bottom: 2px solid black;
}
button{
    border: 1px solid black;
    background-color: white;
    color: black;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    margin: 0px;

}

label{
    margin: auto;
    width: 50px;
    box-sizing: border-box;
    font-size: 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 2px 15px;
}