body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
}

.loginbox {
  width: 320px;
  height: 420px;
  background: hsl(0, 0%, 100%);
  color: rgb(0, 0, 0);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -102px;
  left: calc(50% - 50px);
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.loginbox o {
  position: absolute;
  left: calc(50% - 87px);
  text-decoration: none;
  font-size: 12px;
  line-height: 100px;
  color: black;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
  border: jsl(210, 8%, 5%);
  border-bottom: 0.2px transparent hsl(210, 8%, 5%);
  background: transparent;
  outline: black;
  height: 40px;
  color: hsl(210, 8%, 5%);
  font-size: 16px;
}

.loginbox input[type="submit"], button {
  border: none;
  outline: none;
  height: 40px;
  background: hsl(206, 100%, 52%);
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  width: 100%;
}

.loginbox input[type="submit"]:hover, button:hover {
  cursor: pointer;
  background: hsl(206, 95%, 37%);
  color: hsl(0, 0%, 100%);
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: hsl(206, 100%, 40%);
}

.loginbox a:hover {
  color: hsl(206, 95%, 75%);
}
